<div class="container">
    <ul class="list-group">
    {% for post in postslist | reverse %}
        <li class="list-group-item">
            <h1 class="post-title"><a href="{{post.url | url}}">{{post.data.title}}</a></h1>
            <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
            {%if post.data.page.excerpt %}
                <div class="excerpt">{{ post.data.page.excerpt | markdown | safe }}</div>
            {% else %}
                <br>
            {%endif%}
            <a class="readme" href="{{post.url | url}}">Read more</a>
            <div>
            {% for tag in post.data.tags %}
                {%if tag != "posts" %}
                    <a class="hashtag">#{{tag}}</a>
                {%endif%}
            {%endfor%}
            </div>
        </li>
    {% endfor %}
    </ul>
</div>