<span id="projects"></span>
<div class="d-flex justify-content-start mt-5">
  <div class="container">
    <h1 class="mt-3">Projects</h1>
    <div class="row">
      {% for project in projects.projects %}
        <div class="column col-lg-6 col-sm-12 mt-2">
          <div class="card text-white">
            <div class="img-wrapper">
              <img class="card-img my-auto" src="{{ project.img }}" alt="Project card image">
            </div>
            <div class="card-img-overlay">
              <h3 class="card-title">{{ project.title }}</h3>
              <div class="card-overlay-links">
                {%- if project.githubLink -%}
                  <a href="{{ project.githubLink }}" target="_blank" rel="noopener noreferrer"> See details on Github </a>
                  <br>
                {%- endif -%}
                {%- if project.demoLink -%}
                  <a href="{{ project.demoLink }}" target="_blank" rel="noopener noreferrer"> Try it out </a>
                  <br>
                {%- endif -%}
                {%- if project.otherLink -%}
                  <a href="{{ project.otherLink }}" target="_blank" rel="noopener noreferrer"> {{ project.otherLinkDisplay}} </a>
                  <br>
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>